.interno {
  display: flex;
  flex-direction: column;
  justify-content:start;
  align-items: center;
  text-align: center;
  margin-top: 0;
  padding: 10px;
  width: 100vw;
}


button {
  margin-right: 8px;
}

button:disabled {
  opacity: 0.4;
}

