.cont-layout{
    display: grid;
    width: 100vw;
    height: 100%;
    background: #081a2e;
}
nav{
   
    display: flex;
    justify-content: space-around;
    height: 40px;
    top:5px;
    padding: 10px 0px;
    border-bottom: 2px solid rgb(61, 59, 59);
}
.link
{
    font-size: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: rgb(110, 107, 107);
    font-weight: bold;
    
  }
  .contentOutlet{
    display: grid;
    justify-content: center;
    align-items: start;
    width: 100vw;
    height: 85vh;
  }
  h1{
    font-size: 38px;
    color: coral;
    padding: 8px;
    margin: 0;
  }
  h2{
  font-size: 34px;
  color: #47744cff;
  margin: 0;
  padding: 8px;
}
h3{
  font-size: 30px;
  color: black;
  margin: 0;
  padding: 8px;
}
table {
  background: #3c3d3d33;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  padding: 10px;
}
th, td {
  text-align: center;
  font-size: 20px;
  color: black;
}
